# artefactos de captura/oraculo (regenerables)
dis_oracle_out.txt
zanac_ref*.txt
zanac_ref*.png
*.exe
SDL2.dll
probe_boot_out.txt
trace_vdpwr_out.txt
trace_src_out.txt
trace_caller_out.txt
dis_range_out.txt
trace_out_out.txt
trace_entry_out.txt
decomp_port.txt
trace_orch_out.txt
trace_nt_out.txt
trace_nt2_out.txt
trace_ldir_out.txt
trace_ntwr_out.txt
trace_ntsrc_out.txt
tg.bin
probe_scroll_out.txt
probe_scroll2_out.txt
probe_scroll3_out.txt
probe_scrollpc_out.txt
probe_mapbuf_out.txt
probe_mapfill_out.txt
